/* Mobile Devices*/
@media only screen and (min-width: 414px) {
	
* 
{
	margin: 0;
	padding: 0;
}

body 
{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture/The-Rustic-Spoon-restaurant.jpg") no-repeat; 
	background-size: 100% 100%;
	background-attachment: fixed;
	
	
}

/*--- Navigation Bar--*/
.navbar
{
	font-family: Geneva, sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1.6px;
	background-color: #40474e;
}

.navbar-brand
{
	height: 47px;
}

.navbar-brand img
{
	height: 58px;
	width: 120px;
	position: fixed;
	margin-top: -7px;
}

.navbar-nav li 
{
	padding-right: 11px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

/*--- Landing Page --*/
.head {
	max-width: 100%;
	white-space: normal;
	text-align: center;
	color: white;	
	margin: 75px;
	padding: 100px 0 0;
	white-space: normal;
}

.head h1 {
	font-size: 52px;
	font-weight: 700;
	font-family: Cooper Black;
    text-transform: capitalize;
}

.head h3 {
	font-size: 30px;
	font-family: Copperplate Gothic Light;
	padding-top: 10px;
	padding-bottom: 19.2px;
}

/*--- Menu Page --*/
.menuTitle h1
{
	font-size: 45px;
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.menu-pic
{
	background-color: white;
	margin: 100px 40px ;
	padding: 10px;
	text-align: center;
	font-family: Book Antiqua;
	font-size: 18px;
}

button.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 12px;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  border-color: black;
  color: black;
}

.menu a:visited {
  color: black;
  text-decoration: none;
}

.menu:hover {
  color:white;
}


/*--- About Page --*/
.aboutTitle
{
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.content
{
	background-color: #F5F5F5;
	text-align: left;
	width: 100%;
	margin-top: -90px;
	border: 1px inset; 
	border-collapse: collapse;
	font-size: 15px;
	white-space: normal;
	
	
}

.content p
{
	font-size: 17px;
	text-indent: 30px;
	margin: auto;
	padding: 10px;
	font-family: Book Antiqua;
}


/*--- Gallery Page --*/

.photoTitle
{
	text-align: center;
	margin: 110px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
	
}

.img-fluid
{
	max-width: 100%; 
	height: auto;
}

#carouselExampleControls 
{
	
	margin: -70px 10px;
	padding: 35px;
	
}


/*--- Contact Page --*/
.contactTitle
{
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.contact-info
{
	background-color: #F5F5F5;
	text-align: left;
	padding: 10px;
	width: 100%;
	margin-top: 70px;
	border: 1px inset; 
	border-collapse: collapse;
	font-size: 17px;
	white-space: normal;
	font-family: Book Antiqua;
	
}


/*--- Footer --*/

footer 
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #40474e;
	padding: 6px;
    color: white;
    text-align: center;
	font-family: Book Antiqua;
}

footer a {
  color: white;
  margin: 2px;
}

footer svg.svg-inline--fa {
  font-size: 20px;

}

footer svg.svg-inline--fa:hover {
  color: black;
}


}


/*********************************************/


/* Tablet Devices*/
@media only screen and (min-width: 768px) {
	
* 
{
	margin: 0;
	padding: 0;
}

body 
{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture/The-Rustic-Spoon-restaurant.jpg") no-repeat; 
	background-size: 100% 100%;
	background-attachment: fixed;
	
	
}

/*--- Navigation Bar--*/
.navbar
{
	font-family: Geneva, sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1.6px;
	background-color: #40474e;
}

.navbar-brand
{
	height: 47px;
}

.navbar-brand img
{
	height: 58px;
	width: 120px;
	position: fixed;
	margin-top: -7px;
}

.navbar-nav li 
{
	padding-right: 11px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

/*--- Landing Page --*/
.head {
	max-width: 100%;
	white-space: normal;
	text-align: center;
	color: white;	
	margin: 120px;
	padding: 100px 0 0;
	white-space: normal;
}

.head h1 {
	font-size: 60px;
	font-weight: 700;
	font-family: Cooper Black;
    text-transform: capitalize;
}

.head h3 {
	font-size: 30px;
	font-family: Copperplate Gothic Light ;
	padding-top: 10px;
	padding-bottom: 19.2px;
}


/*--- Menu Page --*/
.menuTitle
{
	font-size: 50px;
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.menu-pic
{
	background-color: white;
	margin: 50px 50px ;
	padding: 5px;
	text-align: center;
	font-family: Book Antiqua;
}

button.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 12px;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  border-color: black;
  color: black;
}

.menu a:visited {
  color: black;
  text-decoration: none;
}

.menu:hover {
  color:white;
}


/*--- About Page --*/
.aboutTitle
{
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.content
{
	background-color: #F5F5F5;
	text-align: left;
	width: 100%;
	margin-top: -70px;
	border: 1px inset; 
	border-collapse: collapse;
	font-size: 15px;
	white-space: normal;
	
	
}

.content p
{
	font-size: 17px;
	text-indent: 30px;
	margin: auto;
	padding: 15px;
	font-family: Book Antiqua;
}


/*--- Gallery Page --*/

.photoTitle
{
	text-align: center;
	margin: 90px;
	padding: 3px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
	
}

.img-fluid
{
	max-width: 100%; 
	height: auto;
}

#carouselExampleControls 
{
	
	margin: -80px auto;
	padding: 10px;
	bottom: 10%;
}

.carousel-inner
{
	width: 90%;
	height: 90%;
}


/*--- Contact Page --*/
.contactTitle
{
	text-align: center;
	margin: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.contact-info
{
	background-color: #F5F5F5;
	text-align: left;
	padding-top: 15px;
	padding-left: 200px;
	width: 100%;
	margin-top: 70px;
	border: 1px inset; 
	border-collapse: collapse;
	font-size: 17px;
	white-space: normal;
	font-family: Book Antiqua;
	
}


/*--- Footer --*/

footer 
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #40474e;
	padding: 6px;
    color: white;
    text-align: center;
	font-family: Book Antiqua;
}

footer a {
  color: white;
  margin: 2px;
}

footer svg.svg-inline--fa {
  font-size: 20px;

}

footer svg.svg-inline--fa:hover {
  color: black;
}


}


/******************************************/


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) { 

* 
{
	margin: 0;
	padding: 0;
}

body 
{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture/The-Rustic-Spoon-restaurant.jpg") no-repeat; 
	background-size: 100% 100%;
	background-attachment: fixed;

}

	
/*--- Navigation Bar--*/
.navbar
{
	font-family: Geneva, sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1.6px;
	background-color: #40474e;
}

.navbar-brand
{
	height: 60px;
}

.navbar-brand img
{
	height: 65px;
	width: 155px;
	position: fixed;
	margin-top: -7px;
}

.navbar-nav li 
{
	padding-right: 11px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

/*--- Home Page --*/
.head {
	max-width: 100%;
	text-align: center;
	margin: 40px;
	padding: 70px;
}

.head h1 {
	color: white;
	font-family: Cooper Black;
	font-size: 67px;
	font-weight: 700;
	text-shadow: 1.6px 1.6px 12.8px black;
	padding-bottom: 12.8px;
    text-transform: capitalize;
}

.head h3 {
  font-size: 32px;
  font-family: Copperplate Gothic Light;
  text-shadow: 1.6px 1.6px 8px black;
  padding-bottom: 25px;
}


h1 
{
	text-align: center;
	padding: 130px;
	font-family: Franklin Gothic Medium;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
	
}


/*--- Menu Page --*/

.menuTitle
{
	text-align: center;
	color: white;
	text-shadow: 1.6px 1.6px 12.8px black;
}

.menuTitle h1
{
	font-size: 45px;
	margin: -100px;
}

.menu-pic
{
	font-family: Book Antiqua;
	background-color: white;
	margin: -200px 400px;
	padding: 10px;
	font-size: 22px;
	text-align: center;
	width: 50%;
	
}

button.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  border-color: black;
  color: black;
}

.menu a:visited {
  color: black;
  text-decoration: none;
}

.menu:hover {
  color:white;
}


/*--- About Page --*/

.aboutTitle
{
	margin: 20px;
}

.aboutTitle h1
{
	font-size: 45px;
}

.content
{
	background-color: white;
	margin: -75px 0 75px;
	padding: 10px;
	border: 1px inset;
	position: absolute;
	
}

.content p
{
	font-size: 20px;
	text-indent: 30px;
	margin: 0 15px 0;
	font-family: Book Antiqua;
}


/*--- Gallery Page --*/

.photoTitle
{
	margin: -10px auto;
	bottom: 10px;
}

.photoTitle h1
{
	font-size: 45px;
}

.img-fluid
{
	max-width: 100%; 
	height: auto;
}

#carouselExampleControls 
{
	width: 60%;
	margin: -90px auto;
	bottom: 25px;
}

.carousel-inner
{
	width: 100%;
	max-height: 460px !important;
}

/*--- Contact Page --*/

.contactTitle
{
	margin: 20px;
}

.contactTitle h1
{
	font-size: 45px;
}

.contact-info
{
	background-color: #F5F5F5;
	text-align: left;
	padding-top: 15px;
	padding-left: 500px;
	width: 100%;
	margin: -70px 0 70px;
	border: 1px inset; 
	font-size: 20px;
	font-family: Book Antiqua;
	
}




/*--- Footer --*/

footer 
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #40474e;
	padding: 8px;
    color: white;
    text-align: center;
	font-family: Book Antiqua;
}

footer a {
  color: white;
  margin: 2px;
}

footer svg.svg-inline--fa {
  font-size: 25px;

}

footer svg.svg-inline--fa:hover {
  color: black;
}

}





